html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body{
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgb(255, 254, 254);
}

header{
    
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(225, 180, 143);
    align-items: center;
    justify-content: space-between;
}


.logo-header{
    width: 26%;

}

.menu ul{
    display: flex;
    list-style-type: none;
}

.menu li a{
    color: azure;
    text-decoration: none;
    margin-right: 20px;
    font-size: 23px;
}

#introducao{
    display: flex;
    height: 250px;
    align-items: center;
}


#introducao div{
    width: 50%;
    padding-right:100px ;
    padding-left: 100px ;
    margin-top: 50px ;
}

#sobre-nos{
    padding-left:100px ;
    padding-right:100px ;
    background-color: #dea372;
    height:200px ;
    display: flex;
    flex-direction: column;
    color:black ;
}

#produtos{
    padding-left: 100px ;
    padding-right:100px ;
}

#produtos h2{
    margin-top: 100px ;
    margin-bottom: 100px ;
    text-align: center ;
}

.conteudo-produtos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.produto{
    width: 200px;
    text-align: center;
}

.produto h3{
    font-size: 40px;
}

footer {
   background-color:rgb(251, 202, 247);
   color: black;
   margin: 0;
   text-align:center ;
   padding-top: 25px ;
}

footer p{
    margin: 0;
} 

.direitos-autorais{
    padding-top:25px ;
    padding-bottom: 25px ;
}


