body{
    margin-left: 50px;
    margin-right: 50px;
    background-color:rgb(255, 254, 254);
}

header{
    
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    background-color: rgb(225, 180, 143);
    align-items: center;
    justify-content: space-between;
}

.logo-header{
    width: 26%;

}